.intro {
  background: #1ed2ab;
  background: -webkit-linear-gradient(to right,#1ed2ab, #78cedf);
  background: linear-gradient(to right, #1ed2ab, #78cedf);
  overflow-x: hidden;
  min-height: 100vh;
  padding: 100px 0;
  /*old gradient #85cfde*/
}

header {
  background: #1ed2ab;
  background: -webkit-linear-gradient(to right,#1ed2ab, #78cedf);
  background: linear-gradient(to right, #1ed2ab, #78cedf);
  overflow-x: hidden;
}

main {
  background: #03cafc;
  background: -webkit-linear-gradient(to right, #03cafc, #78cedf);
  background: linear-gradient(to right, #03cafc, #78cedf);
  overflow-x: hidden;
  min-height: 100vh;
}

/* Navigation Bar*/
.nav-link{
  color: white;
}

.nav-link:hover {
  color: #2d3058;
}

/* Jelly Animation on Navbar */
.navigation-jelly {
  z-index: 1;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: transparent;
}
  
.navigation-jelly:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}
  
@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/* Profile Pic */
#profile-image {
  margin-right:10px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}

#profile-image:hover {
  transform: scale(1.2) rotate(360deg);
}

.btn-outline-light:hover{
  color: #03cafc;
}

/* Timeline Clean Ver */
.timeline-container {
  width: 80%;
  margin-top: 0;
  padding: 50px 0;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
}
.timeline-container:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #CCD1D9;
  z-index: 1
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}
 
.timeline-block-right {
  float: right;
}
 
.timeline-block-left {
  float: left;
  direction: rtl;
}
 
.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #F5F7FA;
  background: #4FC1E9;
  margin-top: 10px;
  z-index: 1;
}
 
.timeline-content {
  width: 95%;
  padding: 5px;
  color: white;
}
 
.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}
 
.timeline-content span {
  font-size: 15px;
  color: white;
}
 
.timeline-content p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: white;
} 

.eos-link {
  color: #68688f;
}

.eos-link:hover {
  color: #ffb5c5;
  text-decoration: none;
}

/* Timeline Effects */
/*content */
.timeline-block {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline-block-right {
  transform: translate3d(200px, 0, 0);
}

.timeline-block-left {
  transform: translate3d(-200px, 0, 0);
}

.timeline-in-view {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/*Modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Specific width based on mockups */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  overflow-y: hidden;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  /*background: rgba(0, 0, 0, 0.8);*/
  line-height: normal;
}

.modal-header {
	padding-bottom: 0px !important;
	padding-right: 20px;
 	padding-left: 20px;
 	padding-top: 20px;
}

.modal-body{
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 0px !important;
  line-height: normal;
}

.modal li{
  text-align: left;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .container:before {
     left: 8px;
     width: 2px;
  }
  .timeline-block {
     width: 100%;
     margin-bottom: 30px;
  }
  .timeline-block-right {
     float: none;
  }
  .timeline-block-left {
     float: none;
     direction: ltr;
  }
}



