.gradient-day {
    background: #d64400;
    background: -webkit-linear-gradient(to right, #d64400, #f1cf5f);
    background: linear-gradient(to right, #d64400, #f1cf5f);
    overflow-x: hidden;
    min-height: 100vh;
}

.gradient-night {
    background: #2d00f8;
    background: -webkit-linear-gradient(to right, #2d00f8, #5f9ef1);
    background: linear-gradient(to right, #2d00f8, #5f9ef1);
    overflow-x: hidden;
    min-height: 100vh;
}

/* Navigation Bar*/
.nav-link{
    color: white;
}
  
.nav-link:hover {
    color: hsl(236, 32%, 26%);
}
  
/* Jelly Animation on Navbar */
.navigation-jelly {
    z-index: 1;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: transparent;
}
    
.navigation-jelly:hover {
    cursor: pointer;
    animation: jelly 0.5s;
}
    
@keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
       transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}
  
.fa-arrow-left{
    color: white;
    font-size: 50px;
    padding-top: 30px;
    padding-left: 30px;
}

/* Weather App */
.weather-app {
    min-height: 100%;
    min-height: 80vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.location, .temperature {
    height: 15vh;
    width: 35vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.degree-section{
    display: flex;
    max-width: 140px;
    align-items: center;
    cursor: pointer;
}

.degree-section span{
    margin: 10px;
    font-size: 30px;
}

.degree-section h2 {
    font-size: 40px;
}

.temperature-description {
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center; /*vertical*/
    font-size: 20px;
    font-weight: 500;
}

.capitalize {
    text-transform: capitalize;
}
  
  